@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Serif", "Newsreader", sans-serif, Arial;
  background-color: $soft-pastel-green;
  color: $deep-green;
}

header {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  justify-items: baseline;
  background-color: $deep-green;
  color: $soft-cream;
}

// main {
//   width: calc(100vw - 4rem);
//   margin: 0 2rem;
//   @include desktop {
//     width: 63.75rem;
//     margin: 0 calc((100vw - 63.75rem) / 2);
//   }
// }

.footer {
  &__text {
    @include bodyCopyText;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
  }
}

h1 {
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: "IBM Plex Serif", "Newsreader", sans-serif, Arial;
  cursor: pointer;
}
