@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Serif", "Newsreader", sans-serif, Arial;
  background-color: $soft-pastel-green;
  color: $deep-green;
}
