@use "./variables" as *;

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin bodyTextBold {
  line-height: 1.625rem; //26px
  font-size: 1.25rem; //20px
  font-weight: 500;
}

@mixin bodyText {
  line-height: 1.625rem; //26px
  font-size: 1.25rem; //20px
}

@mixin bodyCopyText {
  line-height: 0.9375rem; //15px
  font-size: 0.75rem; //12px
  font-weight: 500;
}

@mixin heading {
  line-height: 1.875rem; //30px
  font-size: 1.5rem; //24px
  font-weight: 700;
}

@mixin margin {
  width: calc(100vw - 4rem);
  margin: 0 2rem;
  @include desktop {
    width: 63.75rem;
    margin: 0 calc((100vw - 63.75rem) / 2);
  }
}
