@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/Newsreader-Regular.woff") format("woff"),
    url("./assets/fonts/Newsreader-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/Newsreader-Light.woff") format("woff"),
    url("./assets/fonts/Newsreader-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/Newsreader-LightItalic.woff") format("woff"),
    url("./assets/fonts/Newsreader-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
