// Text Colors
$deep-green: #38612a;
$soft-cream: #f0efd5;
$muted-coral: #df7d71;

// Background Colors
$soft-pastel-green: #d6e9ce;
$warm-off-white: #fffbf7;

// CTA and Other Elements
$golden-yellow: #dfc04e;
$muted-golden-yellow: #c5a843;
