@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  background-image: url("../../assets/images/Hero.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  @include desktop {
    justify-content: center;
  }

  &__text {
    @include bodyTextBold;

    &--padding {
      padding-top: 1.5rem;

      @include desktop {
        padding-top: 0;
      }
    }
  }

  &__text-copy {
    @include bodyCopyText;
    &--bold {
      font-weight: 700;
      padding: 0.25rem 0.5rem;
      background-color: $golden-yellow;
    }
  }

  &__loc-container {
    display: flex;
    gap: 1rem;
  }

  &__timing-container {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $deep-green;
    padding-left: 1rem;
    gap: 0.25rem;
  }

  &__address-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__button-container {
    display: flex;
    gap: 1rem;
  }

  &__button {
    @include bodyTextBold;
    border: none;
    border-radius: 1.25rem;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: $golden-yellow;
    color: $deep-green;

    &:hover {
      background-color: $muted-golden-yellow;
    }
  }
}
