@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  background-image: url("../../assets/images/Hero.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
  margin: 0;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
